table {
   width: 100%;
   border: 1px solid #000;
   border-radius: 4px;
   background-color: white;
}
th, td {
   width: 25%;
   text-align: center;
   vertical-align: top;
   border: 1px solid black;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
   border-radius: 4px;
   background-color: white;
}
caption {
   padding: 0.3em;
   color: #fff;
   background: #000;
}
th {
   background: #90fec7;
   
}

body {
   background-image: url("../../vista/fondol.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}

