body{
    font-family: georgia, times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

p{
    margin-bottom: 1.6em;

}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: #0eccfb;
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /*width: 100%;*/
    
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.2em;
}

.navigation ul{
    display: block;
}

.navigation ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: 0.3s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: #58fdab;
}

.main{
    padding-top: 12rem;
}

.footer{
    background-color: #0eccfb;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
    color: white;
}




/*@media only screen and (max-width: 767px) {

    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
     display: block;
    }

    .navigation ul li{
        display: block;
    }

    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: 0.3s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover{
        background: #58fdab;
    }

} */